@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global CSS file or a <style> block for specific components */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    /* scrollbar-width: none; Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  /* For Chrome, Safari, Edge */
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #00d9ffbe inset !important; /* your background */
  -webkit-text-fill-color: #fff !important; /* text color */
  transition: background-color 5000s ease-in-out 0s; /* hack to prevent flash */
}

/* Firefox */
input:-moz-autofill {
  box-shadow: 0 0 0px 1000px #1a1a1a inset !important;
  -moz-text-fill-color: #fff !important;
}
